<ul class="list-group" *ngIf="restaurants">
	<li *ngFor="let restaurant of restaurants" class="list-group-item">
		{{restaurant.name}} - ({{restaurant.cuisineName}})
		<span class="badge">{{restaurant.averageRating.toFixed(2)}} ({{restaurant.reviewCount}}) </span>
		<br/>
		<button class="btn btn-success btn-sm" (click)="gotoAddReview(restaurant)">Add Review</button>
		<button class="btn btn-success btn-sm" (click)="gotoRestaurant(restaurant)">View Restaurant</button>
		<button *ngIf="authSvc.authenticated()" class="btn btn-success btn-sm" (click)="gotoRestaurant(restaurant)">Update Restaurant</button>
		<button *ngIf="authSvc.authenticated()" class="btn btn-success btn-sm btn-danger" (click)="removeRestaurant(restaurant)">Remove Restaurant</button>
	</li>
</ul>
<div *ngIf="((restaurants == undefined) || (restaurants.lenght <= 1) )">
	No restaurants are defined.
</div>