<div *ngIf="restaurant">
	<h2>{{restaurant.name}} - ({{restaurant.cuisineName}})</h2>
	<strong>Average Rating:{{restaurant.averageRating.toFixed(2)}}</strong><br/>
	 <strong>Number of reviews: {{restaurant.reviewCount}}</strong>

	<div *ngIf="authSvc.authenticated()" class="form-horizontal">
		<div class="form-group">
			<label for="cuisineName" class="col-lg-2 control-label">Cuisine</label>

			<select class="form-control" id="select" [(ngModel)]="cusineId">
          <option *ngFor="let cuisine of cuisines" [(value)]="cuisine.id" [selected] ="cuisine.id==restaurant.cuisineId" >{{cuisine.name}}</option>
          
        </select>
			<span class="help-block">select cusine</span>
		</div>

		<div class="form-group">
			<label for="restName" class="col-lg-2 control-label">Restaurant Name</label>
			<input class="form-control" id="restName" [(ngModel)]="restaurant.name" placeholder="enter restaurant name" />
			<span class="help-block">enter restaurant name</span>
		</div>

		<button class="btn btn-sm" (click)="goBack()">Back</button>
		<button class="btn btn-success btn-sm" (click)="save()">Save</button>
	</div>
	<br>
	<button class="btn btn-success btn-sm" (click)="gotoAddReview()">Add Review</button>
	<div *ngFor="let review of reviews" class="alert alert-dismissible alert-info">
		<strong>{{review.rating}} out of 5 rating</strong><br> {{review.comment}} <br/><br/>
		<strong>Posted</strong> {{review.postedDateTime | date:"MM/dd/yy" }} <span class="badge"># {{review.reviewNumber}}</span>
	</div>
</div>